.news-management {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #ffa7a7 !important;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.sidebar li:hover {
  background-color: #e0e0e0;
}

.sidebar li.active {
  background-color: #d0d0d0;
  font-weight: bold;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
