.tab-listpost {
  background-color: #f4f4f4;
  border-radius: 15px;
}

.tab-listpost .MuiTab-root {
  text-transform: none;
  font-weight: bold;
  color: #333;
}

.tab-listpost .Mui-selected {
  color: #1976d2;
}

.tab-listpost .MuiTab-root:hover {
  background-color: transparent;
}

.tab-panel {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
